.list-item {
    padding: 10px 10px 10px 15px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(32, 201, 151, .1);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    word-break: break-all;
    word-wrap: break-word;
}

.list-item-box {
    vertical-align: middle;
}

.list-item-text {
    height: 100%;
    font-size: 20px;
    vertical-align: middle;
    transition: .5s all;
    cursor: pointer;
}

.list-item .list-item-check {
    margin-right: 12px;
    border-radius: 50%;
    vertical-align: middle;
    border-color: rgba(32, 201, 151, .3);
    box-shadow: 0px 0px 10px rgba(32, 201, 151, 0.3);
    transition: 0.5s all;
    cursor: pointer;
}

.list-item.done .list-item-check:checked {
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 1);
}

.btn-trash .trash {
    font-size: 20px;
    color: #e5383b;
}

.btn-trash .trash:hover,
.btn-trash .trash:active {
    transform: rotate(720deg);
    transition: 1s all;
}

.btn-star .star {
    font-size: 20px;
    color: #ffd700;
    transform: translateX(30px);
    transition: .5s all;
    opacity: 0;
}

.list-item.important .btn-star .star {
    opacity: 1;
    transform: translateX(0);
}

.list-item.important .list-item-text {
    color: #ffd700;
    transition: .5s all;
}

.list-item.done {
    background-color: rgba(220, 53, 69, .1);
}

.list-item.done .list-item-text {
    color: #cecece;
    text-decoration: line-through;
    font-style: italic;
}