.app {
    position: relative;
    padding: 25px;
    margin: 50px auto;
    max-width: 640px;
    color: #212529;
    box-shadow: 5px 5px 30px rgb(0 0 0 / 10%);
    border-radius: 5px;
}

@media(max-width:570px) {
    .app {
        padding: 0;
        margin: 10px;
        box-shadow: none;
    }
}