.app-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.app-header h1 {
    text-shadow: 5px 5px 10px rgba(155, 152, 152, 0.5);
}

.app-header-info {
    position: relative;
    width: 300px;
    font-size: 17px;
    height: 27px;
    text-align: center;
    border: 1px solid #ffe866;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.app-header-info span {
    position: absolute;
    display: block;
    height: 100%;
    background-color: #ffe866;
    transition: .6s all;
    z-index: -1;
}